{% extends "base.html" %} 
{% block title%}
Portafolio
{% endblock %}
{% block content %}
{% load static %}
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static '/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">John Doe</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portafolio</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
      {% if request.user.is_authenticated %}
      <a href="{% url 'inner' %}"><button type="button" class="btn btn-primary">Agregar</button></a><hr>
      <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-secondary">Salir</button></a>
      {% else %}
      <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Ingresar</button></a><br><hr>
      <a href="{% url 'registro' %}"><button type="button" class="btn btn-primary">Registrarse</button></a>
      {% endif %}
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>John Doe</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Biker"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portafolio</h2>
          <p>En esta seccion puedes conocer a detalle los proyectos que he construido en diferentes tecnologias, haciendo click en alguno puedes ver más información.</p>
        </div>
        <div class="row">
          {% for project in projects %}
          {% if project.delete_at == null%}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow text-center">
              <img class="card-img-top" src="{{ project.photo }}" alt="imagen" height="220px">
              <div class="card-body">
                <h3 class="card-title">{{ project.title }}</h3>
                <p class="card-text">{{ project.description }}</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/projects/{{ project.id }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button></a></li>
                  {% if request.user.is_authenticated %}
                  <li class="list-group-item"><a href="/update_project/{{ project.id }}"><button type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button></a></li>
                  <li class="list-group-item"><a href="/eliminar/{{ project.id }}"><button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button></a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="card-footer">
                <small class="text-muted">Agregado hace: {{ project.created_at | timesince }}</small>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %} 
        </div>
      </div>
    </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Powered by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a> and <a href="https://facebook.com/jcruzsuasnabar" target="_blank">Jordy Cruz</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}