{% extends "base.html" %}
{% load static %}
{% block title%}Iniciar sesion{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">
{% endblock %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <form class="text-center" action="" method="post">
      {% csrf_token %}
        <img class="mb-4" src="{% static 'img/python.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
          <label for="username">Usuario</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Contraseña</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
      </form>
      <div>
        <p class="fw-bold mb-0">¿No tienes una cuenta?</p>
        <a href="{% url 'registro' %}" class="text-primary fw-bold mb-0"> Registrarse</a>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2022 - Todos los derechos reservados</p>
    </main>
{% endblock %}